
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vacation Planner</title>
</head>
<body>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-93.42224121093751%2C39.77054750039529%2C-84.2486572265625%2C43.39706523932025&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=8/41.609/-88.835%22%3E">View Larger Map</a></small>
<h1> body </h1>
</body>
</html>